[2017-09-22 17:39] froi opened #1 "Relief efforts in Puerto Rico map and info assistance"
# Problem

Currently there are people that do now know where to get food, water, basic information, and relief services.

# Proposal

Create a service where they can get this information via:

* interactive map
* SMS ( text food, water, etc.) -> get back an address, phone number or location
* Maybe throw an SOS

I think SMS will be crucial since connectivity has been spotty on the island.

[2017-09-22 17:43] chamakits commented on #1
SMS I can help with tonight. Do we have the actual data to reply with anywhere that can be accessed programmatically?

[2017-09-22 17:52] froi commented on #1
We don't have anything at the moment. I'm working on getting some sort of dataset.

[2017-09-22 17:54] chamakits commented on #1
Okay perfect. Let me know of anything. I'll be more available tonight to
help with anything.

On Sep 22, 2017 1:53 PM, "Froilan Irizarry" <notifications@github.com>
wrote:

We don't have anything at the moment. I'm working on getting some sort of
dataset.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/SoPR/maria-tech-brigade-eff

[2017-09-22 17:57] Jpadilla1 commented on #1
It would be great to separate that issue into several so multiple people can start working on it and take ownership, avoids stepping on each others toes. I can work on the interactive map.

[2017-09-22 18:01] Jpadilla1 commented on #1
Actually, I already have a map. I thought I would never find a great use for this. https://github.com/jpadilla1/react-pr-map

[2017-09-22 18:06] greggish commented on #1
The data is almost certainly going to be a much harder problem than mapping, sms, or otherwise.

[2017-09-22 18:09] greggish commented on #1
The [Harvey Needs API](https://github.com/sketch-city/harvey-api) is redeployable (for shelters) and the [Open Referral](https://openreferral.org) initiative has various other tools (like [a more robust API](https://github.com/openreferral/api-specification)). But if you don't have an organization that is maintaining a reliable source of data, it's harder than you might think to crowdsource.

[2017-09-22 18:16] vLUCYANv opened #2 "List of donation centers inside and outside the island"
We should have a centralized list of all donation centers inside and outside the island. With details of directions, hours, dates and possible shipping dates to the island and where they are taking the items. We also need a list of items each location will be accepting

[2017-09-22 18:18] albertico-gov opened #3 "Create a single page to consolidate information and tools"
* Create a Jekyll/Github page to consolidate information and tools.
* ~Based on the #PRenPie twitter hashtag that used by @miguelrios, I suggest the domain PuertoRicoEnPie.org for this effort (Disclaimer: I already got the domain, but not big deal if we don't use it)~
* We will merge this effort into the diasporican site to avoid duplication.
* Content will be in markdown (quite simple format)
* P

[2017-09-22 18:20] jpadilla commented on #2
@mfjv88 has been working on this http://www.diasporicans.com

[2017-09-22 18:23] miguelrios commented on #3
Can we use diasporicans here? Miguel Vacas has a site up already.

[2017-09-22 18:23] vacas commented on #3
Here's the repo: https://github.com/mfjv88/diasporicans

[2017-09-22 18:25] vLUCYANv commented on #3
Perfect!!!!! I will distribute the info

[2017-09-22 18:27] froi commented on #2
This is the project: https://github.com/mfjv88/diasporicans

Let's focus on this. @mfjv88 has asked me for help with it.

[2017-09-22 18:28] rlconley commented on #1
This is a solid option to consider for the SMS piece https://github.com/RapidSMS/RapidSMS
Would we want users to be able to both add and access resources? So could sms "need food" or "get food", for example. Hard to vet, but people on the ground have most current info.

[2017-09-22 18:30] AnaSylvia opened #4 "Create a list of costs associated with any project"
As much as we would like to self-fund these efforts, I know some of us would also like to help out our families.  Here we can put in actual or estimated costs for the projects. We can decide later if we need to reach out to our networks to request donations to set any of the projects up.

 We could also use this space to list what we already have (eg: Twilio credits).

[2017-09-22 18:30] froi commented on #3
@albertico-gov If the community decides to use diasporicans I suggest to have your domain redirect to it.

[2017-09-22 18:32] froi commented on #4
Love this idea.

[2017-09-22 18:33] vacas commented on #2
@Specialist17 is helping me here too.

[2017-09-22 18:57] albertico commented on #3
@froi @miguelrios @mfjv88 Switching Github users to my personal account: @albertico
I'm OK with the domain... Didn't know that diasporicans was a github site. 👍
Only suggestion, can we fork the project at some point under the SoPR org or add more people to the repo in order to have more hands on the PoC and updates coordination?
Once I get out of work I'll wrap this up and commit the stuff somewhe

[2017-09-22 19:08] albertico commented on #3
@froi @miguelrios @mfjv88 Updated the issue text to reflect the diasporican merge.  Let's talk about the repo contributors later today.

[2017-09-22 19:08] miguelrios opened #6 "Snail Safety Check"
We want to use people who are already traveling to disconnected areas as supernodes between people who haven't been able to check in as safe and their loved ones.

This is how it's working today:

- Super node visits a disconnected area.
- They survey damage and talk to people over there.
- They come back to a place where there is cell connectivity and share their findings on Zello.
- Others repea

[2017-09-22 19:12] miguelrios commented on #6
For this to work is essential that we find these "super nodes". We need to do a "comunicado" that people like Jay Fonseca and the press can share with very specific instructions for these people. They'll need:

- Connectivity at home or somewhere.
- Pencil and paper.
- Ability to visit an area that's disconnected, but accessible through roads.

[2017-09-22 19:14] miguelrios commented on #6
As this data will be public I suggest the imperfect but simple format as:

- First and two last names.
- Municipality and barrio.
- Maybe phone number we could keep private and share only with PRFAA.

[2017-09-22 19:17] vacas commented on #3
@albertico Regarding to the map in Diasporicans, I'm doing it under the diasporicans@gmail.com account. I have a few people helping me vet the donation centers and once vetted, uploading them on the map.

We can talk about the repo specs later.

You guys let me know whenever you can.

[2017-09-22 19:20] miguelrios commented on #6
Draft del comunicado:
===

María Tech Brigade está buscando voluntarios que planean visitar lugares sin acceso a Internet o teléfono para coleccionar nombres de personas que quieran dejarle saber a sus seres queridos que están sanos y salvos. Sólo necesitamos que tengan un smart phone en mano, lápiz, y papel. Le daremos instrucciones específicas cuando nos contacten. Escríban un email a email@addr

[2017-09-22 19:39] fernandezcw commented on #6
Not sure if this is what you need, but I am happy to provide and finance a twilio number for this.

[2017-09-22 19:49] miguelrios commented on #6
What we need:

- A couple of 787/939 numbers of people who can receive MMS (maybe whatsapp too?) and share them forward. These numbers will be shared with our "super nodes". We need to monitor them for new info when it comes in and then share the info in a central repository of information.
- Alternate methods to share these pictures privately: email addresses or personal Messenger.
- A central re

[2017-09-22 19:50] miguelrios commented on #6
@fernandezcw thanks! the problem is that we need MMS support and apparently 787/939 in Twilio doesn't support them. We could have non 787/939 numbers but risk extra fees for the people who send the MMS. Or not? I don't know. Erring on the side of caution.

[2017-09-22 20:10] miguelrios commented on #6
Hay q añadir en el mensaje claramente q esto es para personas que ya están planeando viajar a estos sitios desconectados. El Gobernador ha sido claro en q nadie se debe tirar a la calle. No debemos "encourage" esto pero si ya están planificando ir para rescatar o algo así pues q nos ayuden.

[2017-09-22 20:42] #4 closed

[2017-09-22 20:49] fernandezcw commented on #6
Tocayo- wondering if the image portion of the flow is essential. I believe you are trying to reduce friction for the Super Node. But will the network even allow for uploading of images? How many images will each person have to upload? If we could somehow live without it, it would make implementation easier. Food for thought

[2017-09-22 20:51] froi commented on #6
Me parece fantastico la idea. Estoy de acuerdo con @miguelrios con que el comunicado debe ser claro que esto no es para que personas se arriesguen. Solo personas con intenciones de ir a estas zonas para buscar familia etc. deben de hacerlo.

Sobre todo debemos estar claros que lo mas importante en esta situación es que no entorpescan las actividades de first reponders. Que respeten las leyes y el

[2017-09-22 20:53] froi commented on #6
Otra cosa, this can blow back at us as trying to instigate people to risk their lives. Part of what we want to do is create good faith with the people on the grown so they come to us when they need support.

If people start doing this it has to be made clear that they do not go to danger zones like Lago Guajataca at the moment.

[2017-09-22 20:58] miguelrios commented on #6
Yeah. @fernandezcw fo de las fotos es "scans" de las listas de personas. Creo q es más efectivo q escribir los nombres y mandarlos por texto. @froi ese es mi miedo. Maybe podemos pivotear esto un poco mas a un crowdsourcing de las listas q ya la gente está posteando por ahí y nosotros las transcribimos + instruir a la gente q ya está en la calle a como recopilar esta data y compartirla con nosotro

[2017-09-22 21:15] miguelrios commented on #6
Ok this is the plan now:

- if you have a list of people who are safe, please share.
- if you are a first responder or already have access to places where there's no communication, this is how you can help us: collect names and addresses and send them to ______.
- ______ can be an email address, whatsapp #, messenger, etc.
- Add a warning not to risk your life or others to do this.

[2017-09-22 22:21] miguelrios commented on #6
We are also looking for ways to do a data dump from Google's Person Finder. If we succeed here we can just use it as our data entry system.

[2017-09-22 22:48] smendez commented on #6
Could we try to involve the mayors of different municipalities? My guess is that most of them will have lists of people in their town. We could upload and share those.

First responders are going to affected/dangerous areas, maybe we could involve them somehow? I don't want to add to their workload, but they might be the only people going in and out of affected areas for a while.

[2017-09-22 22:54] froi commented on #3
Ok, so what is the status of this. Is there any plan to action?

[2017-09-22 22:55] froi commented on #2
We should move discussion of this to #3

[2017-09-22 22:55] #2 closed

[2017-09-23 00:39] jefftriplett commented on #3
I'm curious too. I thought about submitting a PR to get you ready for Github Pages via `jekyll new` but it looked like `mfjv88/diasporicans` might already fulfill that requirement.

[2017-09-23 02:34] froi opened #7 "Map properties with FEMA status"
Find a way to map house by house what was destroyed and if FEMA claims have been filed as govt service.

[Cate Long tweet with the idea](https://twitter.com/cate_long/status/911345780925059072)

Detroit did something similar [here](http://datadrivendetroit.org/wp-content/uploads/2010/04/DetroitDataCollaborativeRelease.pdf)

[2017-09-23 02:53] MrMaksimize opened #8 "Contribute to OSM HOT Map of Puerto Rico"
http://tasks.hotosm.org/project/3633

[2017-09-23 02:56] MrMaksimize commented on #1
My 2c.  Let me know what you guys think

We can break down the issue in 2 ways:
1. We need to create a stable source of data for water, food, services, etc
2. We need to provide that info.

For Collection -- quick idea (about to get on a plane)

1. get list of venues from foursquare:
https://developer.foursquare.com/docs/

2. Use realtime checkin api to mark the venue as active or not.

Could prob

[2017-09-23 04:30] miguelrios commented on #6
@smendez that's a great idea!

[2017-09-23 04:58] miguelrios commented on #6
I think People Finder is the way to go: https://github.com/google/personfinder/wiki. They have a way to import data using a CSV. We need to ask an API key: https://github.com/google/personfinder/wiki/ImportCSV.

So let's pivot this to a data entry operation. Let's find as many handwritten notes of people en refugios or otherwise listed as OK. Like these ones: https://twitter.com/shawtylilyami/stat

[2017-09-23 05:00] miguelrios commented on #6
It'd be amazing to make a chrome extension that downloads your Facebook Safety Check data so we can have that info too but that's another $20.

[2017-09-23 05:11] miguelrios commented on #1
@MrMaksimize this looks good to me! There's an SMS interface that was built for a different purpose. Maybe some of that code can be reused (interface with Twilio, etc.). Omar Ferrer in Slack may have more details. I believe he also got some Twilio credits we can use here.

[2017-09-23 05:14] miguelrios commented on #8
Anything we can do to promote this? Seems like it may be a good idea to have people who are not necessarily programmers engaged in this kind of data entry task.

[2017-09-23 05:22] ike commented on #1
@MrMaksimize @miguelrios is there a preferred backend stack for the data collection API? I could start building the foursquare connection and caching piece.

[2017-09-23 05:31] ike commented on #1
Looks like there's a stupid easy Foursquare wrapper for Ruby: https://github.com/groupme/quimby

[2017-09-23 05:34] oldmud0 opened #9 "Software-defined radio coverage"
We do not know to what extent ham radio is being used as a mode of communication and how much work it is taking for these messages to be relayed to someone who can help them. Software-defined radio involves a small radio receiver and a basic setup. Data from the SDR is then transmitted to the Internet where users can choose any frequency and band of their choice via something like [WebSDR](http://

[2017-09-23 05:38] miguelrios commented on #1
@ike no hard constraints on stack AFAIK. I've seen mostly node.js code but this shouldn't be a big deal. Thanks!

[2017-09-23 05:41] miguelrios commented on #6
Comunicado update based on latest development:

María Tech Brigade está buscando listas de personas que estén confirmadas como "encontradas" o "seguras" para añadirlos al Google People Finder. Si ya tienes una lista de refugio o de un vecindario, por favor envíala a <CANAL DE COMUNICACIÓN>.

Si estás en la calle como rescatista o en otro carácter, por favor, lleva lápiz y papel y recopila nombres

[2017-09-23 05:49] miguelrios commented on #6
I just set up the email mariatechbrigade at gmail so people send their lists there. Ideally, we'd have a Whatsapp/MMS option but that requires giving away a 787/939 phone number.

[2017-09-23 05:58] docto commented on #6
@miguelrios Comunicado looks good. FYI - There are 2 typos on the second paragraph:

[2017-09-23 06:03] miguelrios commented on #6
Gracias, @docto! Fixed!

[2017-09-23 06:10] ike commented on #6
@miguelrios it looks like [nexmo.com](http://nexmo.com) will let you buy 787 numbers and do SMS over their API. Receiving SMS is free, outgoing SMS is $0.04/message. I haven't used them before, but it looks like they might work well.

[2017-09-23 14:19] froi commented on #8
I guess take to FB and Twitter. Get some people on the ground that still have some sort of connectivity and access to some sort of power to help us out.

[2017-09-23 14:58] karmacelina commented on #9
could we identify users on the ground in PR using the different Zello app channels? does Zello ha we can go there and ask for their names, although this might be super messy since there is a lot of noise (people from the US asking for people in PR) and not much signal (people in PR relaying info) in those channels. https://zellowork.com/api.htm

[2017-09-23 15:14] karmacelina commented on #6
@miguelrios
I'm writing the google form.
What fields should it have?
First name, Last names, Town, Barrio?

Can we add more fields such that supernodes can use them? Can a supernode write the names of multiple people?

I will share the url of the google form here for formatting, editting, cleanup.

[2017-09-23 15:19] karmacelina commented on #6
[Huracán María
](https://docs.google.com/forms/d/1quPNi-_YJEolYSd2aNGp1hgs8OgWqpUdhfU0SdggFDU/edit)

Favor revisar.

[2017-09-23 15:31] miguelrios commented on #6
Gracias @karmacelina! Usemos esta https://docs.google.com/forms/d/1quPNi-_YJEolYSd2aNGp1hgs8OgWqpUdhfU0SdggFDU/edit.

[2017-09-23 15:34] karmacelina commented on #6
Sería viable crear un email en español y darle forward a mariatechbrigade@gmail.com ? Me da cosa que la gente se confunda con el inglés :(

[2017-09-23 15:38] miguelrios commented on #6
@karmacelina buena idea. Puedes añadir la traducción aquí?

[2017-09-23 15:38] miguelrios commented on #6
Hay q añadir q pueden enviar la info (scans/fotos de listas) al 786-789-3099.

[2017-09-23 15:50] farochocolom commented on #6
Entonces cuales son las instrucciones de data entry?
Entramos en el form a las personas que tengamos en facebook "marked safe" y las listas de personas que estén a salvo, y luego esperamos a que los first responders nos envíen más listas con personas que estén a salvo para seguir entrando esa info?

[2017-09-23 16:02] miguelrios commented on #6
@Specialist17 en esencia, yep. @karmacelina está preparando google drive para subir las listas ahí. Voy a escribir instrucciones para data entry ahora y recopilar esta info en un wiki.

[2017-09-23 16:10] MrMaksimize commented on #1
Some data that may be helpful for shelters and hospitals.
--------- Forwarded message ----------
From: "Maksim Pecherskiy" <maksim@quandary.io>
Date: Sep 9, 2017 20:16
Subject: Links to Data
To: "Giancarlo Gonzalez" <gianca.gonz@gmail.com>
Cc:

PR Flood Zones Geobuf
https://mrm-screen.s3.amazonaws.com/carto_floodzones.pbf

PR Flood Zones GeoJSON
http://mrm-screen.s3.amazonaws.com/pr_flood_zones_1.

[2017-09-23 16:13] karmacelina commented on #6
Acabo de subir fotos al folder /por_procesar en el google drive del email mariatechbrigade@gmail.com

@miguelrios busco cuenta en español ahora

[2017-09-23 16:18] jpadilla opened #10 "Connect GitHub to Slack"

[2017-09-23 16:20] #10 closed

[2017-09-23 16:30] karmacelina commented on #6
brigadatecnicamaria@gmail.com

mismo password

[2017-09-23 16:51] vacas commented on #3
Ok, so, is there anything new that you guys suggest to be updated on the page? As much as I'm doing is getting info for new centers, for new volunteers interested in contributing, updating the map and updating any new valuable content for the diaspora... No new features added since Thursday. Any suggestions?

[2017-09-23 17:49] setegonz commented on #6
Alguna manera de automatizar el data entry de las personas "marked safe"? @miguelrios  @karmacelina

[2017-09-23 18:18] miguelrios commented on #3
Can you guys embed the Google Person Finder there? I think there's an
embedd ONG option. google.org/perdonfinder/2017-maria

On Sat, Sep 23, 2017 at 9:51 AM mfjv88 <notifications@github.com> wrote:

--
@miguelrios
about.me/miguelrios

[2017-09-23 18:19] miguelrios commented on #6
Yes. Mira "ImportCSV" en un comentario arriba (estoy en móvil sorry). Estoy
trabajando para conseguir API key con Google.

On Sat, Sep 23, 2017 at 10:49 AM setegonz <notifications@github.com> wrote:

--
@miguelrios
about.me/miguelrios

[2017-09-23 18:38] setegonz commented on #6
@miguelrios Creo que no pregunté correctamente. Más concretamente quisiera saber si existe alguna manera de que cada persona nos pueda enviar el listado de personas que aparecen como "marked safe" en su facebook sin que ello implique que tengan que hacer las entradas a mano. Por ejemplo en los events de facebook se puede descargar las listas de invitados en varios formatos.

[2017-09-23 18:43] miguelrios commented on #6
No. Un chrome/ff extension q genere la lista por usuario en un CSV sería un
palo y no muy difícil de implementar. Facebook no nos va a dar acceso a la
lista global por privacy al usuario.

Worth asking in #maria for consultancy. There should be folks there with
experience doing chrome/ff extensions.

On Sat, Sep 23, 2017 at 11:38 AM setegonz <notifications@github.com> wrote:

--
@miguelrios
about.

[2017-09-23 18:46] miguelrios commented on #9
We could. But there's a lot of noise in those channels.

On Sat, Sep 23, 2017 at 7:58 AM Laura Colon-Melendez <
notifications@github.com> wrote:

--
@miguelrios
about.me/miguelrios

[2017-09-23 18:55] karmacelina commented on #6
there's an email in the account where a person is talking about a missing family member. @miguelrios  i will create another form for missing people. we can then crosscheck as the other list gets populated.

let's get on slack to coordinate who will call which operating radio stations to spread this message on AM radio, etc; we have only gotten this one email.

[2017-09-23 18:59] karmacelina commented on #6
link: https://docs.google.com/forms/d/1vK_uOFhvY_0buvPiQXcVgd9pmaOR8i_Dnbb-K_R2PmU/edit

[2017-09-23 20:01] karmacelina commented on #6
0.   llamamos a la radio (AM) + medios y la gente se entera y riega la voz.
1.    persona se entera en PR que esto esta pasando
2.    persona se comunica con supernode o node con acceso a telefono o comunicacion al exterior
3.    super/node habla con persona_afuera o con voluntario con acceso al form
                 3b. persona_afuera habla con voluntario con acceso al form
5.    voluntario intro

[2017-09-23 20:08] karmacelina commented on #6
Ya tenemos supernodes identificados?  Pueden ser hasta entrevistados por la prensa.

[2017-09-23 20:31] miguelrios commented on #6
Let's close this issue as it has a lot of outdated data. Please use the wiki as the authoritative place to follow this project: https://github.com/SoPR/maria-tech-brigade-effort/wiki/Snail-Safety-Check#desde-tu-casa

[2017-09-23 20:31] #6 closed

[2017-09-23 21:06] Tokynet opened #11 "SMS service to receive text messages to inform I'm OK"
Create a website/app that folks can:
As a person in PR, I can send a text to say I'm ok (Fields needed, Name, Pueblo, more?)
As a person outside of PR, I want to check if my family members are ok.

The idea is, we create a friendly SMS number that is easy to remember and pass around, maybe get Jay Fonseca and other media to give the number out.

Create a website that displays the data in an organi

[2017-09-23 21:08] ghost commented on #11
https://google.org/personfinder/2017-maria/
hay mucha data recopilada aqui y aguanta subir fotos + descripcion de la persona y busqueda, pero no se como sacar la data

[2017-09-23 21:12] miguelrios commented on #11
See https://github.com/SoPR/maria-tech-brigade-effort/wiki/Snail-Safety-Check. We got an API key from Google to access, write to the Person Finder DB. Please, let's use that database as the central place where where people look for their loved ones. This is a great idea to gather data tho. Let's figure out how to input to Person Finder from the SMS data.

[2017-09-23 21:12] miguelrios commented on #11
This is the key: Hello,

Thank you for your request to obtain a Person Finder API key. We've created a key for you.

Your key is: QyncdQQylkDm8aRO

Please protect it. You are responsible for all accesses that use this key.

You can use this key to read records from the Person Finder database at https://google.org/personfinder/2017-maria/. For example, you can retrieve a feed of the most recently a

[2017-09-23 21:13] miguelrios commented on #11
Reach out in Slack. I can give you the key privately. The API docs are in https://github.com/google/personfinder.

[2017-09-23 21:26] Tokynet commented on #11
But is this something that requires a data connection on the devices of the people in PR?
I would rather NOT depend on data connection.
SMS service should become available sooner than full-blown data connection.

[2017-09-23 21:26] oldmud0 commented on #11
How about from voice calls as well? Don't know if the satellite phones that are being passed around for free by the government support SMS.

[2017-09-23 22:19] vLUCYANv commented on #3
Guys. Im getting calls from People that they have submitted donation centers in diasporicans and they are not showing up. How can we check status of the back-end? I cna help troubleshoot if needed. I just tried to add a place and it gave me at error.

[2017-09-24 01:38] miguelrios commented on #11
@Tokynet Do you mean the part where people mark themselves as "safe" or the part where family members look for others? The latter needs a connection today. An idea is to integrate with Person Finder so people send SMS like "looking for FULANO DE TAL in Orocovis" and they receive a text with the closest record in Person Finder. For the other side my point is that if people mark themselves as safe t

[2017-09-24 02:43] miguelrios opened #12 "Implement Snail Safety Check bulk importer into Person Finder."

[2017-09-24 03:04] karmacelina commented on #12
We want to be able to create csvs with first name, last names, town, barrio fields so we can then integrate that to the Person Finder, correct?

[2017-09-24 04:31] Tokynet commented on #11
Well, I was thinking of a website that would just display the names/location of people that sent an SMS to its service. The site would just display data (maybe sort by town then lastname?
I just feel its better to depend on SMS for now VS data connections that might come back later.

But yes, once we have the data, exporting it as CSV should not be that hard, then we can push it or parse it and pi

[2017-09-24 04:59] karmacelina commented on #11
@miguelrios Regarding your idea,"to integrate with Person Finder so people send SMS like "looking for FULANO DE TAL in Orocovis" and they receive a text with the closest record in Person Finder.",
I created a couple of records for friends and family members that I haven't reached yet in PR in the Person Finder site. If I make a typo writing the name, the response I get from the site is that no rec

[2017-09-24 05:42] Tokynet opened #13 "Need a DB system to index and present donations available"
Currently, PRFAA has thousands of emails from people offering lots of donations however, this information is sitting on lots of emails which would take a long time to go through to extract the offerings and pertinent information AND once that is done, provides 0 benefit to the folks on the ground (OtG) which are the ones that need the equipment/donations etc.

What is needed:
- An input mechanism

[2017-09-24 12:49] karmacelina opened #14 "Automate raw data collection from receibed email"
1) We need a way to automatically send people a "Recibido" email after we open up the
emails they send to mariatechbrigade@gmail.com.

2) We need to automate the ingestion of the photos they send -- files have names like IMG_####.jpg and they need to become: dateMMDDYY_town_photonumber.jpg and go to the LISTAS folder in PARA_VOLUNTARIOS in Google Drive for mariatechbrigade@gmail.com

If I am missi

[2017-09-24 15:18] ecrespomit commented on #11
<img width="915" alt="screen shot 2017-09-24 at 11 17 03 am" src="https://user-images.githubusercontent.com/7256527/30783951-f99c5aac-a119-11e7-8e1e-c834b899a9c7.png">

Acabo de ver esto en el Person Finder de Mexico... saben si es un feature incluido en Person Finder? O fueron Devs de Mexico incluyéndolo?

[2017-09-24 15:22] rfalfaro commented on #13
I can help prototyping something today on HTML/PHP and from the description it looks like Bootstrap and JS might be a good way to go.

[2017-09-24 15:24] ghost commented on #12
I'm currently writing a script in ruby to translate CSV into PFIF xml. I's very barebones and the only reason i chose ruby was to do it quickly. The end idea is to create a url where we can both translate CSC to PFIF and import into google people finder set.

[2017-09-24 15:29] miguelrios commented on #11
Buena pregunta. Le puedo escribir al equipo de crisis response de Google a ver.

[2017-09-24 15:32] froi commented on #13
@Tokynet Thanks for putting this up. I got home last night and just fell asleep.

I'm organizing some notes into something more intelligible and posting it here in a few.

[2017-09-24 15:37] oldmud0 commented on #14
You can use a time-driven Google Apps Script.

1. A regular filter labels incoming messages to `Unprocessed`.
2. Every 10 minutes or so, the script goes through the emails labeled as such.
3. For each email, the script checks whether or not has at least one .jpg attachment.
4. For each attachment, the script should check the EXIF info for date and geotagging. If there is a geotag, the coordinates

[2017-09-24 15:37] greggish commented on #13
There may be existing open source tools that do this kind of thing. [Check out this list](https://airtable.com/shr1vjNbKJK8NpWBV). Sahana/EDEN is an example, although it is not lightweight to get set up.

[2017-09-24 16:10] froi commented on #13
@greggish The link isn't to a list but Airtable directly was that the intention or do you have a list?

[2017-09-24 16:15] froi commented on #13
Ok. I'll give some context. As labeled this is not a community idea. PRFAA really needs this to coordinate with people on the ground and help triage needs they might have.

@greggish If you have a list, please post it here. If not I think that Airtable is a great suggestion.

@rfalfaro if anything needs to be built I'll ping you and make a separate repo for a project.

Let's get them options and s

[2017-09-24 16:16] karmacelina commented on #14
Ok. Any chance someone can implement this now? Will be away until 13.30 EST

[2017-09-24 16:21] greggish commented on #13
Whoops, fixed the link. And here it is: https://airtable.com/shr1vjNbKJK8NpWBV ~ curated by @devinbalkind and @willowbl00.

If you have significant development resources, you might check with Devin re Sahana / EDEN.

[2017-09-24 16:23] albertico commented on #13
Completely agree with you @froi.  We are on the same page here.

Two additional thoughts:

- There are a few layers to this problem:
  1. Better information gathering
  2. Trying to cleanup/merge existing datasets (needs more clarity)
- We need to assess how much the community can help PRFAA (or they allow)

[2017-09-24 16:24] froi commented on #13
@greggish if you know the peeps managing this list tell them that row 8 ArkOS.io is redirecting to Amazon. See below.

![image](https://user-images.githubusercontent.com/1918027/30784449-3cef76be-a123-11e7-99f4-424a4a91ae2f.png)

Still going down the list.

[2017-09-24 16:30] albertico commented on #13
@greggish I think that Sahana is more geared towards a complete Emergency Response solution.  I'm assuming that you are referring to their Volunteer module, but I would consider it out of scope for this situation.  They already have other tools in place for their operation.  Adding tools may just be disruptive and more noise.

cc: @froi

[2017-09-24 16:36] devinbalkind commented on #13
Hi. Sahana EDEN is an open source (github.com/sahana/eden) software system used by many large NGOs and government agencies to manage requests, facilities, inventory and logistics/transport of goods and people.

You can learn more here: https://sahanafoundation.org/eden/ and see a demo here: demo.eden.sahanafoundation.org

One of the primary features an EDEN system offers that other systems don't i

[2017-09-24 16:45] jorgevega commented on #13
I've been talking to people as I'm vetting/adding to this list: https://docs.google.com/spreadsheets/d/1fyalhL8afPuAZ5gPbLI_oevEKGHXrJ7nYglMYY6O03s/edit?usp=sharing

I'm sensing that there's a big bottleneck happening at point of distribution if people are not doing inventory at the point of collection. So ideally, any system will allow people that are doing drives to qudo inventory (while also he

[2017-09-24 16:47] devinbalkind commented on #13
@albertico EDEN can offer a complete EM solution but most of the time it's only used for subset of challenges. When you deploy EDEN the first time, all the standard modules are on. Most people turn off what they don't need during the configuration process so they can have an appropriate solution for their situation.

In this context, you'd probably just want modules related to requests, inventory,

[2017-09-24 17:55] froi commented on #13
All good ideas.

We will take all this to PRFAA and see if it fits what they need. We should not deploy or build anything without PRFAA saying yes. We should not add to their chaos this has to be more surgical than anything else.

Keep the ideas coming.

[2017-09-24 18:10] jorgevega commented on #13
@froi question, only because I haven't been involved in the governance of this group: are all activities guided by PRFAA scope? No other citizen-led initiatives?

[2017-09-24 18:11] froi commented on #13
@jorgevega No, only this issue has a PRFAA scope. Everything else is citizen-led.

[2017-09-24 18:12] Tokynet commented on #13
@jorgevega this specific github issue is about a direct need the PRFAA has. I do not think others are like this.

[2017-09-24 18:13] froi commented on #13
It's the only reason why I'm being a bit careful/bullish about us not throwing too many resources around. Does that make sense?

[2017-09-24 18:16] albertico commented on #13
@froi Makes total sense.

[2017-09-24 18:26] jorgevega commented on #13
@froi totally. there are some general questions around data ownership/transparency/use - apart from the fact that Ideally we'd build a system that also facilitates community-to-community relief but that also everyone else can see so there's efficient distribution. lots of great networks like ArribaPR are managing point of location collection and distribution, so hopefully their inventory could be

[2017-09-24 18:58] ghost commented on #12
https://github.com/josejuanisaac/csv-to-pfif
very raw

[2017-09-24 19:27] froi commented on #13
@jorgevega good flags.

Let's get all this out in the open.

1. Any data generated by community lead projects are of course of that project to make available as they wish.
2. Any data that PRFAA has is under their domain to share and distribute as they see fit.
3. Sensitive information (PII, PHI, and security) should be handled responsibly.
4. Any official information from PRFAA or other governmen

[2017-09-24 19:40] astrogexo commented on #13
It sounds like we might need two instances of this system. One for PRFAA needs and another to pull together and catalogue the massive amounts of donations from the citizen-led efforts in the US. I doubt many of them are in contact with PRFAA... @jorgevega is ArribaPR handling the latter of these?

[2017-09-24 19:58] albertico commented on #13
@devinbalkind @jorgevega Thanks for the Sahana / EDEN info.  At this juncture, and based on our initial engagement, the PRFAA office does not have the technical nor human resources to deploy and  use such technology.  They already have others technology in place and that is what they are using.

@gerycruz I'm assuming that the organizations getting donations of items will be organizing their inven

[2017-09-24 19:59] albertico commented on #13
@jorgevega Who's ArribaPR?  Do they have a website?

[2017-09-24 22:35] Tokynet commented on #13
Guys I hate to sound like an ass about this but besides @rfalfaro alguien mas esta tratando de implementar algo?

The system should be just 1.

I think it should have 2 functions, 1 is for people to say what they want to donate and 1 is for people on the ground to query what things are available from this "donation pool".

About the other donations from other entities:
This is an issue that is pro

[2017-09-24 22:48] nabeards commented on #13
Would like to help, not sure of your handle on Slack.

[2017-09-24 23:36] hramos commented on #13
Why reinvent the wheel? Community Help already meets the criteria set forth by @Tokynet: https://newsroom.fb.com/news/2017/02/empowering-people-to-help-one-another-within-safety-check/

This is highlighted in the Safety Check homepage for Maria: https://www.facebook.com/safetycheck/hurricane-maria-sep17-2017/home/

<img width="506" alt="screen shot 2017-09-24 at 4 37 26 pm" src="https://user-image

[2017-09-24 23:42] astrogexo commented on #13
Wrong project, but we're leveraging FB safety check on the snail-check

On Sun, Sep 24, 2017 at 7:36 PM, Héctor Ramos <notifications@github.com>
wrote:

--
Gerardo Cruz

[2017-09-24 23:48] Tokynet commented on #13
@hramos Maybe I was not clear, this is for the government use. This specific issue is a direct need the PRFAA office has.
FB will not cut it for this. That seems cool for individuals. But (for example) The Home Depot emails you to say they want to donate 100 portable generators and 100 chainsaws etc... you don't send them to FB.
The other thing is, this system is for the folks on the ground (Gover

[2017-09-24 23:49] albertico commented on #13
@hramos Note taken on Safety Check.  Question, does Safety Check has an API one could read data from?  This would be really helpful!

@Tokynet I'm assuming people is working with projects or personal life.  Some of us have been working on the non-technical needs that PRFAA requested with local DMV partners.  Also, @froi and myself agree that is worth getting some clarification on scope/needs from

[2017-09-24 23:51] hramos commented on #13
@tokynet noted, CH is indeed aimed at connecting individuals. Carry on.

@albertico there is no API for this, unfortunately.

[2017-09-25 00:14] nabeards commented on #13
@greggish if you are on the Slack, would like to know more about EDEN. You messages above indicates it's a significant effort to get up and running. How much effort do you suppose? Have you worked with it before?

[2017-09-25 00:18] Tokynet commented on #13
FWIW, tomorrow I will show EDEN to George and get feedback from him.
If we can strip EDEN down to just what PRFAA needs, and we can define specific fields in the forms/database I think it might work (however, I think we just shift the effort from creating what they need to being able to export from EDEN what they need)

[2017-09-25 00:18] MentalPower commented on #13
@Tokynet is there a place you're coordinating the development rollout?

[2017-09-25 00:21] Tokynet commented on #13
@MentalPower that is still a moving target, but I want to deploy to AWS (since that's what I know the best).
I need to get more information tomorrow hopefully about the move to AWS. On Friday it seemed like they wanted me to do it, then on Saturday someone else was looking into it and that's the last I heard of it. I'm afraid that "someone else is looking into it" is actually me but folks have not

[2017-09-25 00:26] MentalPower commented on #13
@Tokynet roger. I can also help from the AWS side :). Just let me know where my fingers can help.

[2017-09-25 00:35] devinbalkind commented on #13
If you have any EDEN questions let me know and I can make sure they reach the right people. We have a default deployment up at harvey.sahana.io that you can evaluate. Register for that demo and I can add you as a super admin. Our solutions is usually adopted by ngos and govt agencies so I think we could be very helpful here.

[2017-09-25 00:43] nabeards commented on #13
@devinbalkind thank you! I've registered at that domain and would love to have a look around.

[2017-09-25 00:43] MentalPower commented on #13
@devinbalkind I'm setting up a local version right now to start wrapping my head around it

[2017-09-25 01:02] nabeards commented on #13
@devinbalkind is there any kind of walk-through documentation that gives a better idea of the philosophy of EDEN? Perhaps an example usage video?

[2017-09-25 01:12] devinbalkind commented on #13
Great. I upgraded you on Harvey.sahana.io.

Our devs like answering questions on our mailing list so please post technical questions there: https://groups.google.com/forum/m/#!forum/sahana-eden

You can also email me at devin@sahanafoundation.org if you like.

I do love github threads tho. :)

[2017-09-25 01:21] MentalPower commented on #13
I've created the #maria-dondb channel on our existing slack channel

[2017-09-25 01:35] MentalPower commented on #13
@devinbalkind commitments throws an error on the demo stack (and in my personal deployment), any idea what's up with that? I think that's the page that we need (a place for orgs to commit to certain donations).

[2017-09-25 01:35] nabeards commented on #13
@devinbalkind can you explain the 'commitments' section? It's available on the site's example (but just throws a 500 error) and I don't have it in the harvey example.

[2017-09-25 02:44] adobito commented on #13
I can secure AWS credits for people trying to help out. Let me know if that's an issue for you when trying to deploy in AWS.

[2017-09-25 04:19] devinbalkind commented on #13
Hi. The request workflow goes something like: open -> commit -> (optional: approval) -> prepare shipment -> waybill -> ship -> confirm.

I think the /commit section is a list of all commitments that is similar to the request page.

I've send this thread to some of our devs so hopefully they can give you a better answer and help resolve that 500 error.

[2017-09-25 04:29] karmacelina commented on #14
i'll try to implement this tomorrow while at work -- may ask coworkers for help during lunch break. also, most emails are coming through with text and not photos. tomorrow this might change. i spoke on air at radio isla 1320AM radio at approx. 6:30 PM EST and got some emails. i will try to get on air again tomorrow earlier to get the message out during suitable morning hours.

[2017-09-25 09:22] flavour commented on #13
Commitments are an optional step in Requests management (optional per-instance configuration):
http://eden.sahanafoundation.org/wiki/UserGuidelines/Requests

Commitments can be use for proactive Donations too, but this isn't so developed in the main branch.

If you can give a link to the Ticket & say what page you got this on & what you did to get there, that would be helpful to diagnose...i Imagi

[2017-09-25 11:53] flavour commented on #13
Fixed the code/demo server: https://github.com/sahana/eden/commit/f171207599b49a3d90f37bfebfed30fc754137ee

[2017-09-25 16:09] vacas commented on #3
Ok. I'm going to need some help. I'd like to add 2 features to the page and you guys let me know what suggestions you have:
1) Integrate the Lob node package to validate address that are being submitted through the donate center form - I'm having problems with Lob because it's not validating correctly the addresses. You put any random address and it says deliverable.
2) Automatize the adding to ma

[2017-09-25 19:47] andygimma commented on #14
I'd like to lend a hand if I can. I've worked with some Google Scripts before. With spreadsheets, rather than email, but I'm comfortable with the fundamentals.

[2017-09-25 22:34] rfalfaro commented on #13
Just checking in. Did we hear back from PRFAA about this? Is this moving forward? Please let me know. As I kept reading the thread, I stopped while waiting for concrete requirements from the folks that are talking to PRFAA about this.

Sent from my iPhone

[2017-09-26 00:45] froi commented on #13
@rfalfaro Yes.

There is a team that is working on this. If you want to assists please msg @nabeards, he is team lead (team self organized).

The repos that are being used are:

* https://github.com/SoPR/prfaa-donations-backend
* https://github.com/SoPR/prfaa-donations-frontend

This issue will not be closed any input or help with this topic should be moved to the new repos.

* For backend issues:

[2017-09-26 00:45] #13 closed

[2017-09-26 06:02] jluzonpr opened #15 "Small Solar Panel Setup to Charge Phones/Batteries/Etc"
**IMPORTANT: While this is a simple and easy to implement setup, this is an electric system and you have to be careful. Proper safety measures and caution should be taken to avoid a potential fire. If you connect anything and start to feel any wire get hot or smell burning, disconnect immediately and ask for help. Make sure it is kept away from children as they might get hurt or cause damage to th

[2017-09-26 06:06] adobito commented on #15
~~BTW if anyone can help make a diagram for this that would be great.~~

[2017-09-26 06:19] chamakits commented on #15
I can try tomorrow night when I get home.
I do not promise amazing results, but I'll try, jajaja.

By all means, if anybody is graphic designer, go for it, you'll have better results than me.

[2017-09-26 14:28] agostof commented on #15
No soy graphic designer pero yo tenia una idea bien simple del diagrama usando [glyphicons](http://glyphicons.com/) para los componentes principales.

bateria: glyphicons-battery-charging; 77 -e; `&#xe765;`
inverter: glyphicons-charging-station; 48 - a; `&#xe471;`
controller_opcion1: glyphicons-tree-structure; 70 - b; `&#xe692;`
controller_opcion2: glyphicons-macbook; 17 - b; `&#xe162;`

El del co

[2017-09-26 14:31] astrogexo commented on #15
Conozco unos graphic designers. I'm getting in touch with them. Also, should we suggest ready-made USB solar solutions?

[2017-09-26 14:52] agostof commented on #15
IMHO, suggesting ready-made solar powered chargers makes sense. There are other USB-powered products used for camping and other outdoor activities that might work, but many tend to be pricey.

[2017-09-26 18:45] adobito commented on #15
I explicitly stayed away from ready made solutions because they tend to be expensive, they tend to offer very little power and they make solar energy be this mystical hard to grasp thing. This setup can be extended and has the potential to power different things (5v USB, 12v Car Peripherals, 110V AC low power devices).

@agostof I'm going to draw a small diagram on paper and upload it which explai

[2017-09-26 19:07] adobito commented on #15
Drew a simple diagram on a notebook: https://drive.google.com/open?id=0Bwy3lh8U5KLzTF9EUnE5dkY0R0k

[2017-09-26 19:34] ecrespomit commented on #15
Algo asi? Lo hice en minutos con draw.io btw
* Asumo q el arrow de la bateria de carro debe ir en ambas direcciones (aunque todas tecnicamente son ambas direcciones)
![solar_power_maria_pr](https://user-images.githubusercontent.com/7256527/30880290-12f495a2-a2d0-11e7-88b8-bd29d47e5d50.png)

[2017-09-26 20:39] jsuarezatzendesk opened #16 "Offer: Zendesk products"
Hola a todxs- I'm a software engineer at Zendesk. We make a web platform for running "help desks" of all sorts- including ticketing software, voice over ip / call center, sms, live chat, FAQ / knowledgebase software, etc. If anyone is working on a project coordinating volunteers, responding to incoming requests, case management, etc, I want to help.

What I can offer
===
- sponsored Zendesk accoun

[2017-09-26 20:40] adobito commented on #15
@ecrespomit hay alguna manera que me des edit access a eso? Donde dice `Charge Converter` deberia decir `Charge Controller` y quiero arreglarlo.

BTW looks good! Gracias! 👍

[2017-09-26 20:56] ecrespomit commented on #15
No encuentro bien como share for edit (only export). Let me look into it.
Si quieres tratarlo from scratch, puedes entrar a draw.io, free y no hay q sign in, etc.

Aquí con el change:
![solar_power_maria_pr 1](https://user-images.githubusercontent.com/7256527/30883854-8989a1ac-a2db-11e7-9083-9f4e73f0a3dc.png)

[2017-09-26 20:58] adobito commented on #15
Looks solid! voy a edit y a~adirlo. Thanks!

EDIT: Added to top level post.

[2017-09-26 21:19] oldmud0 commented on #15
With an inverter, you are converting DC power to AC power... and then back to DC power. This is extremely inefficient, and as an alternative, one should wire multiple car lighter ports in parallel with USB chargers connected to each lighter, unless there is a serious necessity for AC power. (Or you can try splicing the cables, but this is an irreversible process.)

[2017-09-26 21:37] adobito commented on #15
The reason I recommend the inverter is because it's more flexible. It already comes with 4 USB ports and people are more likely to have AC multiplugs and AC chargers at their house. You could keep adding DC 12v ports but the added cost for the small gain in inefficiency and loss of flexiblity is a big no-no to me.

[2017-09-26 22:24] ecrespomit commented on #15
Have you guys considered something like this? (Bonus if we get that Anker discount!)
https://smile.amazon.com/Anker-Charger-PowerPort-iPhone-Galaxy/dp/B012YUJJM8/ref=sr_1_3?ie=UTF8&qid=1506464042&sr=8-3&keywords=anker+solar
Decent enough for the price and portability, can also easily be used along a power bank to store juice for night hours.

[2017-09-26 22:29] adobito commented on #15
@ecrespomit Yes I've looked into this before and I actually own a non-anker solar panel of that type. It's a decent solution for charging USB devices but requires more work to get good solar coverage since you can't just put that on the roof and charge your power bank downstairs. Any shade (even if it's just because the sun is coming through a fence) lowers the output significantly on all solar pa

[2017-09-27 00:33] agostof commented on #15
@jluzonpr If we are expecting this to be assembled by unexperienced users, I suggest we add some basic safety instructions for assembly and operation.

[2017-09-27 02:01] froi commented on #16
Thanks Jason!

I think something like Zendesk will prove useful in the days/weeks/months to come. I will pass along this offer to people that I think might find it useful and get back to you here.

[2017-09-27 04:34] adobito commented on #15
@agostof added a basic warning. if you have any more specific suggestions please let me know

[2017-09-27 12:40] mango314 opened #17 "survival data analysis"
Good morning everybody.

Sadly, I think my ability to contribute is very limited at this particular time.  Data is a great *preventative* measure when the times were good.  Nobody (a precious few) wanted to share their data and we did what we could.  I studiedly endlessly the maps of Puerto Rico and the counties and how transport occurs.  Now that entire situation has changed due to Maria.

Right

[2017-09-27 19:10] starsinmypockets commented on #1
Hey, this sounds like something I could contribute to. Maybe set up a quick API service that takes handles requests and returns the content which can then be sent as sms (or sends the sms directly)

Requests could look like:

`resources.mariarelief.org?resourcetype=freshwater&lat=xxxx&long=yyyy&radius=zz&start=0&count=5`

`resources.mariarelief.org?resourcetype=firstaid&lat=xxxx&long=yyyy&radius=z

[2017-09-27 19:19] hramos commented on #9
Ángel Vazquez at Arecibo has been using ham radio to communicate:

* http://news.nationalgeographic.com/2017/09/arecibo-radio-telescope-damaged-puerto-rico-hurricane-maria-science/

* https://motherboard.vice.com/en_us/article/bjv7d8/ham-radio-hobbyists-are-connecting-the-caribbean-after-hurricane-maria-puerto-rico

One advantage of ham over Zello is the licensing requirement, which should help wi

[2017-09-27 19:23] hramos opened #18 "Reusable fund raising website solution"
Raised by @miguelrios in Slack, people have been reaching out in need of website design and hosting services for their fundraising efforts. We may want to provide a way to easily spin up a website with all the necessary information, donation collection forms, and 503c documents, with a minimum amount of upfront effort.

I'm opening this issue in order to gather requirements before deciding the pro

[2017-09-27 19:28] hramos commented on #18
Aside from a basic website, I would like to know what specific needs they have. Are people redirecting to third party sites such as Generosity, Indiegogo, Facebook to collect donations? Or do we need to support arbitrary form embeds?

[2017-09-27 19:29] hramos commented on #18
What are the requirements for properly hosting 503c documents?

[2017-09-27 19:35] miguelrios commented on #18
Voy a llamar a Adrián (uno de los q pidió esto, creo q trabaja para una Congresista). A preguntarle todas las preguntas q tengalos. Lo usamos como nuestro customer. Esa de los docs es buena, ¿alguna otra pregunta q les venga a la mente?

[2017-09-27 19:41] hramos commented on #18
Pregunta si tiene algun ejemplo de un site actual al cual quieren emular. En general esto es lo que necesitaria:

* Dominio donde aparecerá la página (yo me puedo encargar de comprar el dominio si esto cae fuera de sus habilidades, pero al menos seria bueno que verifiquen que el dominio esta disponible primero, para eliminar back and forth)
* Nombre de la iniciativa
* Description de los esfuerzos

[2017-09-27 20:34] miguelrios opened #19 "Craft welcome message, FAQ, and workflow for new volunteers"
We have a lot of people coming to the Slack, which is awesome! But we need a better way to channel them efficiently towards whatever is needed and they can help with.

I propose writing a welcome message with a simple FAQ:

- Where to start?
- How can you help?
- What channels should I subscribe to?
- etc...

We can create a more specific workflow with steps to onboard new volunteers too.

Thought

[2017-09-27 20:36] jsuarezatzendesk commented on #19
Yes! We have the #maria-volunteer channel which is working on some of this

Do you have any specific ideas or things you want to include?

[2017-09-27 20:36] miguelrios commented on #19
@jsuarezatzendesk the basic questions above, as well as a good description of every channel we're creating. Thanks for working on this! I'll assign it to you then :)

[2017-09-27 20:38] miguelrios commented on #19
@jsuarezatzendesk can't assign it to you for some reason. Feel free to assign the ticket to yourself.

[2017-09-27 20:41] jsuarezatzendesk commented on #19
I think because I'm not in the SoPR team

[2017-09-27 20:41] jsuarezatzendesk commented on #19
I can't assign it to myself, either

[2017-09-27 20:43] miguelrios commented on #19
Sent you an invite: https://github.com/SoPR/maria-tech-brigade-effort/invitations

[2017-09-27 21:34] oldmud0 commented on #9
Still no SDR station for Puerto Rico. We need one so that messages can be relayed easily from ham radio to the Internet.

[2017-09-28 02:20] ghost commented on #3
@froi @albertico-gov Can we use the existing app from @irmaresponse as they already have it in place.It will save time and also help us not reinvent the wheel. Your thoughts please if you like the idea.

[2017-09-28 06:30] adobito commented on #15
https://github.com/SoPR/maria-tech-brigade-effort/wiki/50w-Solar-Panel-Setup-to-Charge-Phones-Batteries

Closing.

[2017-09-28 06:30] #15 closed

[2017-09-28 15:21] Tokynet commented on #19
We should highlight in a subtle manner that all these efforts are being done as volunteers, folks should provide information like "i can work 3hrs daily" etc... this way folks that are working together have a better understanding on when to expect any "deliverables" etc.

Sadly If I'm mentioning it, its because it has already been an issue, I just want to keep the effort moving forward while keepi

[2017-09-28 15:49] gerycruz opened #20 "Inventory Tool for collection and Distribution"
Grassroots organizations in the US need a system to create an inventory of donations before shipping.  This will help speed up distribution once the shipment arrives in PR. Furthermore, NGOs on the ground will need to know real-time what is arriving and what they're distributing.

I propose a browser-based barcode scanner linked to a google spreadsheet for simplicity, familiarity, and ease of acce

[2017-09-28 16:53] rexcartagena commented on #11
Saludos, yo trabaje este site el sábado pasado: http://www.smspr.net/smspr/

Creo que puedo modificar una versión para que trabaje según este issue.

[2017-09-28 19:08] astrogexo commented on #20
Found this
https://github.com/zxing/zxing.

[2017-09-29 20:29] kalquaddoomi commented on #1
I'd love to assist with this. Consider perhaps using React Native and building a small native App that links to mapping and an API? SMS is trickier, since consuming an incoming SMS is hard to do with iOS (but possible with Android). React Native would also provide access to location via GPS service, and has some really useful pre-built components for Mapping and locations (https://github.com/airbn

[2017-09-29 20:38] kalquaddoomi commented on #20
You might be better off with a React Native project for this, linked to an API for synchronization and a local database on the device, rather than a browser-based barcode scanner which would require a bit of work. I've worked with Zebra Crossing before and it really is specifically for Native Apps (it has implementations for Android and iOS).

[2017-09-29 22:33] astrogexo commented on #20
Yes, ideally it would be native but I don't want to haven't people need to install an app.

Maybe that's not a big barrier but from what I've seen on the ground a lot of people running the collection drives aren't technically savvy

⁣Sent from BlueMail ​

On Sep 29, 2017, 4:38 PM, at 4:38 PM, Khaled <notifications@github.com> wrote:

[2017-09-29 23:47] stephenscapelliti commented on #18
@hramos are you referring to 501(c)(3) status for an organization?

[2017-09-30 00:34] hramos commented on #18
Yes.

[2017-09-30 02:52] lazychino opened #21 "Phone/SMS service to recieve news"
the idea is to have a phone number to text or call and you can either receive a text or hear the latest news (example: minuto a minuto de endi.com)

reasoning:
I live in Hato Rey (San Juan) and my only way to stay inform during the last week was the radio, but many station are just discussing specific topics and not cover everything that happens in a short time. So people with no power that cant h

[2017-09-30 03:20] doitkin commented on #18
To easily build a fundraising site, check out Peer Raiser plugin for Wordpress.
https://peerraiser.com/

[2017-10-01 02:58] jluzonpr opened #22 "[deleted]"
[deleted]

[2017-10-01 09:32] #22 closed

[2017-10-01 22:48] stephenscapelliti commented on #18
@hramos, I can help guide you through the steps to set up a non-profit entity and then to apply for tax-exempt status for the entity. stephen@progcode.org

[2017-10-02 17:20] Tokynet commented on #16
@jsuarezatzendesk pinging you on the Slack chat.

[2017-10-04 19:29] Tokynet commented on #16
Assuming this offer from Zendesk has expired, have attempted to reach Jason multiple times through Slack and have gotten no response.

[2017-10-06 02:45] mango314 commented on #7
Properties are available off the Catastro and data.pr.gov still seems to be online.  How do we get FEMA claims?

[2017-10-07 12:45] mango314 commented on #7
@froi FEMA's own coverage is spotty like a radio with bad reception.  Here's the page
https://www.fema.gov/hurricane-maria and here are the tweets discussing which certain information was missing.

https://www.washingtonpost.com/news/politics/wp/2017/10/06/fema-buried-updates-on-puerto-rico-here-they-are/

http://status.pr

And the official PR web site.  Slowly piecing it together.

[2017-10-07 13:20] karmacelina commented on #7
what if we use geotagged photos and something like http://arcg.is/2yKUlEr ? ESRI is already helping with some efforts. Contact person in Slack channel is Carlos Saavedra

[2017-10-07 20:49] htarridopicart opened #23 "Apagon App"
Crowdsource App that allows users ("abonados" and citizens) to report if they have water or electricity in their residence.

Repo: https://github.com/htarridopicart/Apagon

[2017-10-09 04:29] SnacksOnAPlane commented on #21
I work for a company that does internet telephony stuff.  This is fairly easy to do; in fact I could probably set it up in just a couple of hours.  Just need the URLs (or ways to scrape for URLs) of the data sources we want to make available.

[2017-10-09 04:37] SnacksOnAPlane opened #24 "PRMU (Puerto Rico Maria Updates) Facebook updates for mobile"
https://github.com/SnacksOnAPlane/prmu (backend code that pushes data to google sheets)
https://github.com/SnacksOnAPlane/prmu-site (frontend code, GH pages hosted site)

This is live and running at https://snacksonaplane.github.io/prmu-site/

Basically, the code pulls the latest updates from the FB group every 20 minutes and populates a big google spreadsheet with anything that has certain keywor

[2017-10-10 21:30] froi opened #25 "Maria Tech Brigade comms team"
As our group has grown our community and projects are getting noticed outside of our brigade. We have been approached by various media and NGO organizations asking for interviews, write-ups, and general questions on who we are and how they can collaborate.

This has created a need to put in place a more strategic comms plan. As part of this effort, I will be establishing our comms team. This team

[2017-10-11 04:55] miguelrios commented on #25
María en slack:

[2017-10-11 23:22] mj16 commented on #25
Llenen los blancos:

Información general sobre MTB que todos deben saber: ¿Qué es el MTB? ¿Qué hace? ¿Cómo se formó? ¿Quiénes lo componen? Descripción general de los proyectos que están trabajando.

Proyectos específicos: Escoger portavoz.

Para practicar explicar el proyecto, busca un niño de 12 años o menos. 1) Captura su atención 2) Explícale lo que estás haciendo.

[2017-10-13 15:31] SnacksOnAPlane commented on #21
Yo @lazychino anything more on this?  Seriously I could have a phone number that you could call for info/SMS messages set up in no time.

[2017-10-13 19:30] ajRiverav commented on #23
This issue has its own repo now and can be closed.

[2017-10-13 19:34] #23 closed

[2017-10-22 18:06] albertico-gov commented on #8
As of October 20, 2017, almost all buildings have been mapped by the Humanitarian OpenStreetMap volunteers (information from a friend in MapGive).  Additional metadata and validation needs to happen.

[2017-10-22 18:09] albertico commented on #8
As of October 20, 2017, almost all buildings have been mapped by the Humanitarian OpenStreetMap volunteers (confirmation provided by a friend in MapGive).  Additional metadata and validation needs to happen.

[2017-11-14 18:12] RobertLRead commented on #1
Hi, folks, I'm going to PR Nov. 28th on a relief mission.  I can collect some data.  I would really like a map to add my data to---has this issue died?

I'm not a GIS expert, but I wonder why we can't just create a Google Map and drop pins on it?

[2017-11-14 18:19] makobi commented on #1
Hi Robert, we currently have aiudapr.com a crowd sourced map that shows resources around PR. In the map you can create and delete pins and categorize them depending on the resource.

We also have schoolsofpr.com that shows info about the schools, statistics and a map.

Hope this helps and let me know if you need any more info.

[2017-11-14 18:32] froi commented on #1
@RobertLRead this issue will remain open for questions such as yours. There are a number of efforts that have tackled this to some degree, @makobi gives a good example. I'm at work and can't really follow up too much. I'll write up something later.

We have a Slack channel dedicated to data and mapping efforts. You can join [here](https://bit.ly/sopr-slack) and look for the #maria, #maria-data, an

[2017-11-27 16:10] sntdo commented on #1
hello! we are currently working on something simultaneously. a similar rapid response SMS. we have the tech but the content is whats sparse. Looking to connect with Rapid SMS this week

[2019-06-02 04:41] #25 closed

[2019-07-08 02:37] froi commented on #3
Closing this up. Thank you all for supporting this effort in the past ❤️

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-08 02:37] #3 closed

[2019-07-08 02:38] froi commented on #7
Closing up. Thank you all for you support and dedication

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-08 02:38] #7 closed